@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Sandbox

<root>
	@if (InteractiveCamera.Target == InteractiveCamera.Origin)
	{
		<div class="title" onclick=@OnClick>Play</div>
	}
</root>

@code
{
	private InteractiveObject Object;
	[Property] public SceneFile Race;
	private void OnClick()
	{
		if (Panel.Style.Opacity == 0f) return;
		JoinRace();
	}
	private async void JoinRace()
	{
		await Networking.JoinBestLobby(Game.Ident);
		Scene.Load(Race);
	}
	protected override void OnStart()
	{
		base.OnStart();

		Object = Components.Get<InteractiveObject>();
	}

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine( InteractiveCamera.Target );
}
