@using System;
@using Sandbox;
@using Sandbox.UI;
@using DM.Car;
@using DM.UI;
@inherits PanelComponent

<root>
	@foreach( Model model in Part.Models )
	{
		<div class="point @(Part.Current == model ? "active" : "")" onclick=@( () => OnClick( model ) )></div>
	}
</root>

@code
{
	[Property] public Part Part;
	[Property] public InteractiveObject Object;

	private void OnClick( Model model )
	{
		Part.Current = model;
	}

	protected override void OnUpdate()
	{
		base.OnUpdate();

		if ( !Object.IsLooked ) GameObject.Destroy();

		int index = Part.Index;
		index += (int)Input.MouseWheel.y;

		int end = Part.Models.IndexOf(Part.Models.Last()) + 1;
		index = index % end;

		if ( index < 0 ) index = end + index;
		Part.Index = index;
	}

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine( InteractiveCamera.Target, Part.Current );
}
