PartName {
    font-weight: bold;
    pointer-events: all;

    .title {
        justify-content: center;
        font-size: 48px;
        font-family: Poppins;
        color: #fff;
        width: 100%;
        height: 100%;
    }
}
